<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MySQL_Database_CAO" connectionString="server={0};uid={1};pwd={2};database={3};convert zero datetime=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="servIP" value="127.0.0.1"/>
    <add key="userName" value="root"/>
    <add key="pass" value=""/>
    <add key="DBName" value="mydab"/>    
  </appSettings>
</configuration>